.price {
  color: #f26247;
  font-size: larger;
  font-weight: bold;
}

.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.custom-navbar {
  background-color: #ffeeb0;
}

.navbar-text {
  color: black;
  transition: color 0.3s ease-in-out;
}

.navbar-text:hover {
  color: rgb(134, 134, 134);
}

.navbar-text.active {
  font-weight: bold;
  color: black !important;
}

.navbar .account-button {
  position: absolute;
  right: 20px;
}

.navbar-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar .ms-auto {
  margin-left: auto;
  position: relative;
}
